@page "/Notfound"

<MudPaper Elevation="5">
    <div class="mud-card-content">
        <MudImage Src="Images/Notfound.png" Style="display: flex; margin-left: auto; width: 40vw; margin-right: auto;" Alt="Notfound" Class="rounded-lg" />
    </div>
</MudPaper>